* {
  line-height: 1.5;
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.cards {
  background-color: #79756f;
  padding-bottom: .6em;
  border-bottom: 2px solid #595652;
}

h1 {
  display: block;
  margin: 0;
  padding-top: .6em;
  max-width: 15em;
  font-family: Bevan, serif;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.cards ul {
  margin: 0;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin-bottom: .3em;
  max-width: 15em;
  list-style-type: none;
  font-family: sans-serif;
}

.cards a:hover {
  background-color: #f33;
  border: 3px solid #f33;
}

.cards a {
  display: inline-block;
  font-size: 1.125rem;
  border: 3px solid #713837;
  background-color: #713837;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}
